/*CREANDO VARIABLES PARA COLROES*/
:root {
    --azul-culpa: #4e92d3ec;
    --rojo-culpa: #f44e42;
    --oscuro: #212529;
    --claro: #f8f9fa;
}

/*DANDO ESTILO A LAS OPCIONES DEL MENU*/
nav a {
    color: var(--oscuro);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/*HOVER ES CUANDO COLOCAMOS EL MOUSE SOBRE UN ELEMENTO*/
nav a:hover {
    background-color: hsla(202, 100%, 50%, 0.137);
    color: var(--oscuro);
}



/*ESTILOS DEL HEADER DE LA WIKI*/
.header-wiki {
    background-color: var(--azul-culpa) ;
    padding: 40px 20px;
    border-bottom: 5px solid var(--rojo-culpa);
    border-radius: 15px 15px 15px 15px; /*Bordes*/
    margin-bottom: 30px;
}

/*ESTILOS DE LA IMAGEN DEL INDEX */
.img-culpamia{
    border: 4px solid paleturquoise;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.img-culpamia:hover{
    transform: scale(1.03);
}

.header-wiki{
text-align: center;
}

.personajes {
    list-style: none;   /* quita las viñetas */
    display: flex;      /* pone todo en fila */
    gap: 20px;          /* espacio entre enlaces */
    justify-content: center; /* centra el menú */
    padding: 0;
    margin: 0;
}


